@(stocks: Seq[FullStock])

@main("Список акций") {
    <article class="table_wrapper">
        <section class="table_header">
            <div class="logo">
               <img src="@routes.Assets.versioned("/images/logo.png")" alt="logo" id="stocks_image">
            </div>
            <div class="logo_letters">
                Акции
            </div>
            <div class="header_buttons">
                <input class="header_button" type="button" value="Загрузить" id="uploadButton"
                onclick="location.reload();location.href='@routes.HomeController.uploadForm()'">
                <input class="header_button" type="button" value="Новый" id="addButton"
                onclick="location.reload();location.href='@routes.HomeController.newStock()'">
            </div>
        </section>
        <section class="navigation">
            <div id="search_wrapper">
                <input type="text" id="main_table_search_bar" class="search_input" placeholder="Search..." title="Type in a name">
            </div>
            <div class="generic_table_ref">
                <a href="@routes.HomeController.getTableView()">Открыть таблицу...</a>
            </div>
        </section>
        <section class="table_body">
            <table id="main_stock_table" class="stock_table">
                <tr>
                    <th>Название</th>
                    <th>ID</th>
                    <th>Sec ID</th>
                    <th style="width: 70px">Board ID</th>
                </tr>
                @for(stock <- stocks) {
                    <tr>
                        <td><a href="@routes.HomeController.getStockInfo(stock.id)">@stock.name</a></td>
                        <td style="text-align: center"><a href="@routes.HomeController.getStockInfo(stock.id)">@stock.id</a></td>
                        <td style="text-align: center"><a href="@routes.HomeController.getStockInfo(stock.id)">@stock.secId</a></td>
                        <td style="text-align: center"><a href="@routes.HomeController.getStockInfo(stock.id)">@stock.primaryBoardId</a></td>
                    </tr>
                }
            </table>
        </section>
    </article>
}