@(stockForm: Form[models.FullStock])

@main("Регистрация ценной бумаги"){
    <article class="register_form">
        <div class="form_wrapper">
            <form action='@routes.HomeController.sendStock(isNew = true)' method="post">
                <div class="table_header">
                    <div class="register_title">Регистрация ценной бумаги</div>
                </div>
                <ul>
                    <li>
                        <label for="id" class="input_field"></label>
                        <input type="number" id="id" name="id"
                        oninvalid="this.setCustomValidity('ID должен быть целым числом')"
                        placeholder="* ID: Внимание, это поле нельзя будет изменить"
                        required>
                        <span class="error" aria-live="polite"></span>
                    </li>
                    <li>
                        <label for="secId" class="input_field"></label>
                        <input type="text" id="secId" name="secId"
                        placeholder="* SecID:"
                        required>
                    </li>
                    <li>
                        <label for="shortName" class="input_field"></label>
                        <input type="text" id="shortName" name="shortName"
                        placeholder="* Short Name:"
                        required>
                    </li>
                    <li>
                        <label for="regNumber" class="input_field"></label>
                        <input type="text" id="regNumber" name="regNumber"
                        placeholder="Reg Number:">
                    </li>
                    <li>
                        <label for="name" class="input_field"></label>
                        <input type="text" id="name" name="name"
                        placeholder="* Name:"
                        required
                        pattern="^[А-Яа-яЁё0-9\s]+$"
                        oninvalid="this.setCustomValidity('Поле &quot;Name&quot; должно содержать только цифры, пробелы и кириллицу')"
                        oninput="this.setCustomValidity('')">
                    </li>
                    <li>
                        <label for="isin" class="input_field"></label>
                        <input type="text" id="isin" name="isin"
                        placeholder="Isin:">
                    </li>
                    <li>
                        <label for="emitentId" class="input_field"></label>
                        <input type="number" id="emitentId" name="emitentId"
                        placeholder="Emitent ID:">
                    </li>
                    <li>
                        <label for="emitentTitle" class="input_field"></label>
                        <input type="text" id="emitentTitle" name="emitentTitle"
                        placeholder="Emitent Title:">
                    </li>
                    <li>
                        <label for="emitentInn" class="input_field"></label>
                        <input type="text" id="emitentInn" name="emitentInn"
                        placeholder="Emitent INN:">
                    </li>
                    <li>
                        <label for="emitentOkpo" class="input_field"></label>
                        <input type="text" id="emitentOkpo" name="emitentOkpo"
                        placeholder="Emitent okpo:">
                    </li>
                    <li>
                        <label for="gosReg" class="input_field"></label>
                        <input type="text" id="gosReg" name="gosReg"
                        placeholder="GosReg:">
                    </li>
                    <li>
                        <label for="stockType" class="input_field"></label>
                        <input type="text" id="stockType" name="stockType"
                        required
                        placeholder="* Stock Type:">
                    </li>
                    <li>
                        <label for="group" class="input_field"></label>
                        <input type="text" id="group" name="group"
                        required
                        placeholder="* Group:">
                    </li>
                    <li>
                        <label for="primaryBoardId" class="input_field"></label>
                        <input type="text" id="primaryBoardId" name="primaryBoardId"
                        required
                        placeholder="* Primary Board ID:">
                    </li>
                    <li>
                        <label for="marketPriceBoardId" class="input_field"></label>
                        <input type="text" id="marketPriceBoardId" name="marketPriceBoardId"
                        placeholder="Market Price Board ID:">
                    </li>
                    <li>
                        <label for="isTraded" class="input_field" id="is_traded_question">Is Traded?</label>
                        <input type="checkbox" id="isTraded" name="isTraded"
                        value="1">
                    </li>
                </ul>
                <div class="send_button">
                    <button type="submit">Зарегистрировать!</button>
                </div>
            </form>
            <div class="info">
                Поля, помеченные знаком "*" являются обязательными
            </div>
        </div>
    </article>
}