@(form: Form[FullStock], stock: Option[FullStock], stockHistory: Seq[TradeHistory])

@main("Подробная информация") {
    <article class="stock_full_info">
        <section class="table_header">
            <div class="name_container">@stock.get.shortName</div>
            <div class="stock_buttons">
                <input class="header_button" type="button" value="Редактировать" id="editButton"
                onclick="window.open('@routes.HomeController.updateStock(stock.get.id)')">
                <input class="header_button" type="button" value="Удалить" id="deleteButton"
                onclick="window.open('@routes.HomeController.deleteStock(stock.get.id)')">
            </div>
        </section>
        <section class="stock_info">
            <div class="stock_info_table">
                <table class="table_part" id="table_part_1">
                    <tbody>
                        <tr><td>ID:</td> <td>@stock.get.id</td></tr>
                        <tr><td>Name:</td> <td>@stock.get.name</td></tr>
                        <tr><td>Reg Number:</td> <td>@stock.get.regNumber.getOrElse("—")</td></tr>
                        <tr><td>SecID:</td> <td>@stock.get.secId<td> </tr>
                        <tr><td>isin:</td> <td>@stock.get.isin.getOrElse("—")</td></tr>
                        <tr><td>Is Traded:</td> <td>@stock.get.isTraded.getOrElse(None).equals(1).toString.capitalize</td></tr>
                        <tr><td>Emitent ID:</td> <td>@stock.get.emitentId.getOrElse("—")</td></tr>
                        <tr><td>Emitent Title:</td> <td>@stock.get.emitentTitle.getOrElse("—")</td></tr>
                    </tbody>
                </table>
                <table class="table_part" id="table_part_2">
                    <tbody>
                        <tr><td>Emitent Inn:</td> <td>@stock.get.emitentInn.getOrElse("—")</td></tr>
                        <tr><td>Emitent Okpo:</td> <td>@stock.get.emitentOkpo.getOrElse("—")</td></tr>
                        <tr><td>Gos Reg:</td> <td>@stock.get.gosReg.getOrElse("—")</td></tr>
                        <tr><td>Stock Type:</td> <td>@stock.get.stockType.split("_").map(_.capitalize).mkString(" ")</td></tr>
                        <tr><td>Group:</td> <td>@stock.get.group.split("_").map(_.capitalize).mkString(" ")</td></tr>
                        <tr><td>Primary Board ID:</td> <td>@stock.get.primaryBoardId</td></tr>
                        <tr><td>Marketplace Board ID:</td> <td>@stock.get.primaryBoardId</td></tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="stock_history_wrapper">
            <div class="history_subheader">История торгов:</div>
            <section class="history_list">
                 @for(h <- stockHistory.reverse) {
                     <div class="spoiler">
                         <details>
                             <summary>@h.tradeDate <span>BoardID:</span> @h.boardId <span>Value:</span> @h.value</summary>
                             <div>
                                 <table id="trade_history_table">
                                     <tbody>
                                         <tr><td>NumTrades:</td><td>@h.numTrades</td></tr>
                                         <tr><td>Value:</td><td>@h.value</td></tr>
                                         <tr><td>Open:</td><td>@h.open.getOrElse("—")</td></tr>
                                         <tr><td>Low:</td><td>@h.low.getOrElse("—")</td></tr>
                                         <tr><td>High:</td><td>@h.high.getOrElse("—")</td></tr>
                                         <tr><td>WaPrice:</td><td>@h.waPrice.getOrElse("—")</td></tr>
                                         <tr><td>Close:</td><td>@h.close.getOrElse("—")</td></tr>
                                         <tr><td>Volume:</td><td>@h.volume</td></tr>
                                         <tr><td>Market Price 2:</td><td>@h.marketPrice2.getOrElse("—")</td></tr>
                                         <tr><td>Market Price 3:</td><td>@h.marketPrice3.getOrElse("—")</td></tr>
                                         <tr><td>Admitted Quote:</td><td>@h.admittedQuote.getOrElse("—")</td></tr>
                                         <tr><td>MpToValTrade:</td><td>@h.mp2valTrd</td></tr>
                                         <tr><td>Market Price 3 Trades Value:</td><td>@h.marketPrice3TradesValue</td></tr>
                                         <tr><td>Admitted Value:</td><td>@h.admittedValue</td></tr>
                                         <tr><td>Waval:</td><td>@h.waVal.getOrElse("—")</td></tr>
                                     </tbody>
                                 </table>
                             </div>
                         </details>
                     </div>
                 }
            </section>
        </section>
        <div>
            <a href="@routes.HomeController.clearHistory(stock.get.getSecId)">Очистить историю</a>
        </div>
    </article>
}