@(form: Form[FullStock], stock: Option[FullStock], stockHistory: Seq[TradeHistory])

@main("Подробная информация") {
    <div>

    </div>
    <div class="stock_full_info">
        @stock.getOrElse(None)
    </div>
    <div class="stock_history">
        <ul>
            @for(h <- stockHistory){
                <li>@h.getInfo</li>
            }
        </ul>
        <a href="@routes.HomeController.deleteStock(stock.get.id)">Удалить</a>
        <a href="@routes.HomeController.updateStock(stock.get.id)">Редактировать</a>
    </div>
}