@(stocks: Seq[FullStock], histories: Seq[TradeHistory])

@main("Таблица"){
    <article id="generic_table_wrapper">
        <table id="generic_table">
            <input type="text" id="search_input" class="search_input" placeholder="Search for emitent title or trade date..." title="Type in a name">
                <tr>
                    <th>SecId</th>
                    <th>RegNumber</th>
                    <th>Name</th>
                    <th>EmitentTitle</th>
                    <th style="column-width: 150px">Trade Date</th>
                    <th>NumTrades</th>
                    <th>Open</th>
                    <th>Close</th>
                </tr>
                @for(stock <- stocks) {
                    @for(history <- histories.filter(h => h.getSecId == stock.getSecId)) {
                        <tr>
                            <td>@stock.secId</td>
                            <td>@stock.regNumber.getOrElse("-")</td>
                            <td>@stock.name</td>
                            <td>@stock.emitentTitle.getOrElse("-")</td>
                            <td>@history.tradeDate</td>
                            <td>@history.numTrades</td>
                            <td>@history.open.getOrElse("-")</td>
                            <td>@history.close.getOrElse("-")</td>
                        </tr>
                    }
                }
        </table>
    </article>
}